mat-card {
  width: 150px;
  height: 150px;
  background-color: lightgray;
  float: left;
  margin: 10px;
}

mat-card-content {
  height: 100%;
}

.menue {
  float: right;
  cursor: pointer;
}

.menue:hover {
  background-color: rgba(211, 211, 211, 0.6);
}

h1 {
  font-size: 13px;
}
h3 {
  font-size: 13px;
}

/* .colorDescription {
  text-align: center;
  display: inline-block;
} */
