<div fxLayout="row" fxLayoutAlign="end">
  <mat-chip-list>
    <mat-chip style="background-color: lawngreen;" (click)="addColor()">
      <mat-icon>add</mat-icon>Add Color</mat-chip
    >
  </mat-chip-list>
</div>

<div fxLayoutAlign="space-evenly none" fxLayout="row wrap">
  <div *ngFor="let color of color">
    <mat-card [style.background-color]="color">
      <mat-card-title>
        <mat-icon [matMenuTriggerFor]="menu" class="menue">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="startEdit(color)">
            <mat-icon>edit</mat-icon>
            <span>Edit Color</span>
          </button>
          <button mat-menu-item (click)="deleteColor(color)">
            <mat-icon>delete</mat-icon>
            <span>Delete Color</span>
          </button>
        </mat-menu>
      </mat-card-title>
      <mat-card-content [style.background-color]="color">
        <div class="colorDescription">
          <h1 mat-card-title>Color: {{ color }}</h1>
          <h3 mat-card-title>HSV Value: color.hsv</h3>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
