.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
img {
  float: right;
}

.photoCard {
  height: 300px;
  width: 300px;
  padding: 1em;
  background-color: white;
}

mat-sidenav-container {
  height: 100%;
}

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #747e81;
  color: white;
  font-weight: 600;
  background-image: url(../images/tmtLaxLoge.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 70px;
  text-align: center;
}

mat-sidenav {
  height: 100vh;
  background-color: #747e81;
  width: 100px;
}

.mat-drawer-content {
  overflow: hidden;
}
