/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: black;
}

.sideBar {
  height: 100%;
  float: left;
  background-color: #747e81;
  width: 200px;
}

.toolbar {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #747e81;
  color: white;
  font-weight: 600;
  background-image: url(./images/tmtLaxLoge.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100px;
  text-align: center;
}

label {
  padding: 2em;
}
