<div fxLayout="row" fxLayoutAlign="end">
  <mat-chip-list>
    <mat-chip
      class="mat-elevation-z8"
      style="background-color: lawngreen;"
      (click)="startAdd()"
    >
      <mat-icon>add</mat-icon>Add Photo
    </mat-chip>
  </mat-chip-list>
</div>

<div fxLayoutAlign="space-evenly center" fxLayout="row wrap" *ngIf="!busy">
  <div *ngFor="let photo of photos">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>
        <mat-icon [matMenuTriggerFor]="menu" class="menue">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="startEdit(photo)">
            <mat-icon>edit</mat-icon>
            <span>Edit Photo</span>
          </button>
          <button mat-menu-item (click)="startDelete(photo)">
            <mat-icon>delete</mat-icon>
            <span>Delete Photo</span>
          </button>
        </mat-menu>
      </mat-card-title>
      <mat-card-content class="content">
        <div fxLayout="row" fxLayoutAlign="center">
          <img
            fxLayoutAlign="center"
            mat-card-image
            src="{{ photo.photoUrl }}"
            alt="image not found"
            (click)="showImage(photo)"
          />
        </div>
        <div fxLayout="row" fxLayoutAlign="center" style="margin-bottom: 10px;">
          <mat-label> {{ photo.pocketStyle }}</mat-label>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" style="margin-bottom: 10px;">
          <mat-label style="font-size: 12px;"
            >Pocket Type: <span class="label">{{ photo.type }}</span></mat-label
          >
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- <mat-chip class="help mat-elevation-z20">Need Help?</mat-chip> -->
